@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0f1035;
  min-height: 100vh;
}

.logo {
  width: 70px;
  height: 65px;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.container {
  display: flex;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100px;
}

.kiko {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 50%;
}
.bd {
  color: #dff5ff;
  margin-left: 10px;
  margin-right: 10px;
}

.form .btn {
  width: 100px;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form .btn-primary {
  background-color: #007bff;
  color: white;
}

.form .btn-secondary {
  background-color: #6c757d;
  color: white;
}

@media (max-width: 100px) {
  .form .btn {
    width: 100%;
    margin-bottom: 1rem;
  }

  .form .d-flex {
    flex-direction: column;
  }
}

/* 
.box {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #f8f8f8;
  font-size: 15px;
  resize: none;
  margin-top: 20px;
}
.bx {
  float: left;
  width: 250%;
  margin-top: 6px;
  border-radius: 8px;
  border-color: greenyellow;
}

.btn {
  width: 180px;
  height: 50px;
  background: #c9f6fe;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 29px;
  color: #000000;
  font-weight: 600;
  width: 200px;
  height: 70px;
  border-radius: 40px;
  position: absolute;
  top: 85%;
  left: 42%;
} */

/* .btn {
  width: 200px;
  height: 70px;
  border-radius: 40px;
  position: absolute;
  top: 85%;
  left: 42%;
} */
